<%= link_to new_cocktail_path do %>
  <div id="add_cocktail">
    <button class="btn btn-flat btn-index">Create your <span class="favorite">favorite</span> cocktail</button>
  </div>
<% end %>


<div class="container mt-3">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <% if cocktail.photo? %>
          <% background_url = cl_image_path cocktail.photo, width: 400, height: 500, crop: :fill %>
        <% else %>
          <% background_url = 'https://source.unsplash.com/500x400/?cocktail' %>
        <% end %>
      <div class="card-category link" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= background_url %>')">
        <%= cocktail.name %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

